<ion-header>
  <ion-navbar>
    <ion-title>{{ id }}</ion-title>
    
    <ion-buttons end>
      <button ion-button icon-only (click)="confirmarAtualizacao()" [disabled]="!formAtualizarPedido.valid">
        <ion-icon name="arrow-dropright-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="formAtualizarPedido">
    <ion-item>
      <ion-label>Produtos</ion-label>
      <ion-select formControlName="produtos" required="required">
        <ion-option *ngFor="let produto of produtosBanco" value="{{ produto.nome }}">{{ produto.nome }}</ion-option>
      </ion-select>
    </ion-item>

    <br>
    <ion-item>
      <ion-label>Quantidade</ion-label>
      <ion-input type="number" formControlName="quantidade" required="required" text-right></ion-input>
    </ion-item>

    <br>
    <br>
    <button ion-button color="secondary" round block (click)="confirmarAtualizacao()" [disabled]="!formAtualizarPedido.valid">Confirmar</button>
  </form>

  <ion-footer>
    <ion-toolbar>
      <button ion-button color="dark" round block (click)="cancelarPedido()">Cancelar Pedido</button>
    </ion-toolbar>
  </ion-footer>
</ion-content>