<ion-header>
  <ion-navbar>
    <ion-title>Realizar Pedido</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form [formGroup]="formRealizarPedido">
    <ion-item>
      <ion-label>Produtos</ion-label>
      <ion-select formControlName="produtos" required="required">
        <ion-option *ngFor="let produto of produtosBanco" value="{{ produto.nome }}">{{ produto.nome }}</ion-option>
      </ion-select>
    </ion-item>

    <br>
    <ion-item>
      <ion-label>Quantidade</ion-label>
      <ion-input type="number" formControlName="quantidade" required="required" text-right></ion-input>
    </ion-item>

    <br>
    <br>
    <button ion-button color="default" round block (click)="adicionarLista()" [disabled]="!formRealizarPedido.valid">Adicionar
      à Lista</button>
  </form>

  <ion-card>
    <ion-card-content>
      <b>RESUMO DO PEDIDO</b>
      <p [innerHtml]="pedido"></p>
      <b>VALOR TOTAL DO PEDIDO</b>
      <p [innerHtml]="totalPedido"></p>
    </ion-card-content>
  </ion-card>

  <br>
  <ion-footer>
    <ion-toolbar>
      <button ion-button color="secondary" round block (click)="confirmarRealizacaoPedido()">Confirmar Pedido</button>
    </ion-toolbar>
  </ion-footer>
</ion-content>