<ion-header>
  <ion-navbar>
    <ion-title text-uppercase>{{ usuario }}</ion-title>
    
    <ion-buttons end>
      <button ion-button icon-only (click)="novoPedido()">
        Fazer Pedido
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button color="default" round block (click)="listaProdutos()"><ion-icon name="list"></ion-icon>. Lista de Produtos</button>

  <br>
  <ion-searchbar [(ngModel)]="terms" placeholder="Buscar" (click)="getPedidosUsuario()"></ion-searchbar>

  <ion-list>
    <div *ngFor="let item of contadorAuxiliar | search : terms | sort : { property: column, order: order }">
      <ion-item (click)="getDetalhesPedido(id[item])" *ngIf="nomeUsuario[item] == usuario && usuario != 'admin'">
        <p>R$ {{ total[item] }}</p>
        <ion-row>
          <ion-col>
            <h2>Status: {{ status[item] }}</h2>
          </ion-col>
          <ion-col>
            <p>{{ data[item] }} {{ hora[item] }}</p>
          </ion-col>
        </ion-row>
      </ion-item>
    </div>
  </ion-list>
  <ion-list>
    <div *ngFor="let item of contadorAuxiliar | search : terms | sort : { property: column, order: order }">
      <ion-item (click)="getDetalhesPedido(id[item])" *ngIf="usuario == 'admin'">
        <p>R$ {{ total[item] }}</p>
        <p>{{ pedidosUsuario[item].nomeUsuario }}</p>
        <ion-row>
          <ion-col>
            <h2>Status: {{ status[item] }}</h2>
          </ion-col>
          <ion-col>
            <p>{{ data[item] }} {{ hora[item] }}</p>
          </ion-col>
        </ion-row>
      </ion-item>
    </div>
  </ion-list>

  <ion-refresher (ionRefresh)="doRefresh($event)" pullMax="100">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Puxe para Atualizar" refreshingText="Atualizando...">
    </ion-refresher-content>
  </ion-refresher>
</ion-content>