<ion-header>
  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="formLogin">
    <ion-item>
      <ion-label>Usuário</ion-label>
      <ion-input type="text" formControlName="usuario" required="required" text-right></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Senha</ion-label>
      <ion-input type="password" formControlName="senha" required="required" text-right></ion-input>
    </ion-item>

    <br>
    <div>
      <button ion-button color='secondary' round block (click)="confirmarLogin()" [disabled]="!formLogin.valid">Confirmar</button>
    </div>
    <br>
    <div>
      <button ion-button color='dark' round block outline (click)="cadastrarUsuario()">Cadastrar Usuário</button>
    </div>

  </form>

  <ion-refresher (ionRefresh)="doRefresh($event)" pullMax="100">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Puxe para Atualizar" refreshingText="Atualizando...">
    </ion-refresher-content>
  </ion-refresher>
</ion-content>