<ion-header>
  <ion-navbar>
    <ion-title>Lista de Produtos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-searchbar [(ngModel)]="terms" placeholder="Buscar" (click)="getProdutos()"></ion-searchbar>

  <ion-list>
    <div *ngFor="let item of contadorAuxiliar | search : terms | sort : { property: columns, order: order }">
      <ion-item (click)="getDetalhesProduto(produtos[item].id)">
        <p>R$ {{ produtos[item].precoVenda }}</p>
        <ion-row>
          <ion-col>
            <h2>{{ produtos[item].nome }}</h2>
          </ion-col>
          <ion-col>
            <p>{{ produtos[item].categoria }}</p>
          </ion-col>
        </ion-row>
      </ion-item>
    </div>
  </ion-list>

  <ion-refresher (ionRefresh)="doRefresh($event)" pullMax="100">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Puxe para Atualizar" refreshingText="Atualizando...">
    </ion-refresher-content>
  </ion-refresher>
</ion-content>