<ion-header>
  <ion-navbar>
    <ion-title>{{ id }}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="atualizarButton()" [disabled]="!statusOk">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content>
      <br>
      <b>Data/Hora Abertura</b>
      <p [innerHtml]="data"></p>

      <br>
      <b>Produtos</b>
      <p [innerHtml]="pedido.produtos"></p>

      <br>
      <b>Status</b>
      <p [innerHtml]="pedido.status"></p>

      <br>
      <b>Total</b>
      <p [innerHtml]="pedido.total"></p>
    </ion-card-content>
  </ion-card>
</ion-content>