<ion-header>
  <ion-navbar>
    <ion-title>Cadastrar Usuário</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="formCadastrarUsuario">
    <ion-item>
      <ion-label>Nome</ion-label>
      <ion-input type="text" formControlName="nome" required="required" text-right></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Usuário</ion-label>
      <ion-input type="text" formControlName="usuario" required="required" text-right></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Senha</ion-label>
      <ion-input type="password" formControlName="senha" required="required" text-right></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Confirmar Senha</ion-label>
      <ion-input type="password" formControlName="confirmarSenha" required="required" text-right></ion-input>
    </ion-item>

    <br>
    <div>
      <button ion-button color='secondary' round block (click)="cadastrarUsuario()" [disabled]="!formCadastrarUsuario.valid">Confirmar
        Cadastro</button>
    </div>
    <br>
    <div>
      <button ion-button color='danger' round block (click)="cancelarCadastro()">Cancelar</button>
    </div>

  </form>

</ion-content>