<ion-header>
  <ion-navbar>
    <ion-title>{{ produto.nome }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content>
      <br>
      <b>Nome</b>
      <p [innerHtml]="produto.nome"></p>

      <br>
      <b>Categoria</b>
      <p [innerHtml]="produto.categoria"></p>

      <br>
      <b>Preço</b>
      <p [innerHtml]="produto.precoVenda"></p>

      <br>
      <b>Descrição</b>
      <p [innerHtml]="produto.descricao"></p>
    </ion-card-content>
  </ion-card>
</ion-content>